<dialog class="modal" #modal>
  <div class="rounded-xl overflow-hidden" #modalContent>
    <div class="w-[700px] h-[750px] overflow-y-scroll p-6 bg-white text-default">
      <div class="flex flex-col mb-6">
        <div class="flex">
          <div class="mr-3">
            <img src="assets/images/user-image-with-black-background.png" class="w-[48px]" />
          </div>
          <div class="flex flex-col text-xs">
            <p class="font-semibold">New user</p>
            <p class="text-gray-400">Junior Software Developer</p>
            <p class="text-gray-400">Blank Company</p>
          </div>
        </div>
      </div>
      <form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
        <div class="mb-6">
          <input
            class="w-full border border-gray-300 rounded-xl outline-none p-3"
            placeholder="Title"
            formControlName="title"
          />
        </div>
        <div class="mb-6">
          <textarea
            class="w-full border border-gray-300 rounded-xl outline-none p-3"
            rows="6"
            placeholder="Description"
            maxlength="250"
            formControlName="description"
          ></textarea>
        </div>
        <div class="mb-6">
          <textarea
            class="w-full border border-gray-300 rounded-xl outline-none p-3"
            rows="10"
            placeholder="Quest Description"
            maxlength="5000"
            formControlName="questDescription"
          ></textarea>
        </div>
        <div class="mb-6">
          <input
            class="w-full border border-gray-300 rounded-xl outline-none p-3"
            placeholder="Repository"
            formControlName="repository"
          />
        </div>
        <div class="mb-6 w-full border border-gray-300 rounded-xl outline-none p-3">
          <div class="flex flex-col">
            @if (keys.length > 0) {
              <div class="flex flex-wrap gap-2 mb-4">
                @for (key of keys; track $index) {
                  <button (click)="removeKey(key)" type="button">
                    <div class="badge bg-slate-300 gap-2">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        class="inline-block h-4 w-4 stroke-current"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M6 18L18 6M6 6l12 12"
                        ></path>
                      </svg>
                      {{ key }}
                    </div>
                  </button>
                }
              </div>
            }
            <input
              class="border-none outline-none"
              placeholder="Keys"
              formControlName="currentKey"
              (keydown.enter)="addKey()"
            />
          </div>
        </div>
        <div class="flex w-full">
          <div class="mr-auto">
            <button class="btn btn-error" (click)="closeModal()">Reset</button>
          </div>
          <div class="justify-end">
            <button class="btn btn-secondary mr-2" (click)="closeModal()">Cancel</button>
            <button class="btn btn-success" (click)="submitModal()">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</dialog>
