<div class="bg-warm h-screen flex">
  <div class="quest-container mx-auto flex flex-col w-full h-full">
    <div class="grid grid-cols-[200px_1fr] gap-20 flex-grow min-h-0">
      <div>
        <pq-user-info></pq-user-info>
      </div>
      <div class="flex flex-col flex-grow min-h-0">
        <pq-create-quest></pq-create-quest>
        <div class="flex flex-grow min-h-0">
          <div class="w-[500px] flex flex-col min-h-0">
            <div>
              <button
                class="flex text-default text-xs items-center w-full bg-orange-500 hover:bg-orange-700 transition p-4"
              >
                <div class="flex w-full">
                  <div class="mr-auto">
                    <p class="font-semibold">9 results</p>
                  </div>
                  <div class="justify-end">
                    <p class="text-right">
                      Sort By:
                      <span class="text-black font-semibold">Top</span>
                      <img
                        src="assets/images/down-arrow.png"
                        class="w-[10px] inline align-middle"
                      />
                    </p>
                  </div>
                </div>
              </button>
            </div>
            <div class="overflow-y-scroll flex-grow bg-white">
              <pq-quest-card></pq-quest-card>
              <pq-quest-card></pq-quest-card>
              <pq-quest-card></pq-quest-card>
              <pq-quest-card></pq-quest-card>
              <pq-quest-card></pq-quest-card>
              <pq-quest-card></pq-quest-card>
            </div>
          </div>
          <div class="flex-grow min-h-0">
            <div class="card rounded-none border-l-0 overflow-y-scroll h-full w-[550px]">
              <div class="card-title">hello</div>
              <div class="card-body"
                >Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus fugiat hic, totam
                aliquam cumque perspiciatis aperiam adipisci veritatis. Aspernatur, corrupti ullam?
                Vitae enim officia quam et eligendi beatae dolor, voluptates vel. Dolorum numquam in
                possimus autem, tenetur officia quisquam distinctio. Id libero commodi a in placeat
                ex explicabo ullam nihil dolor tempore, ea hic unde blanditiis ipsum reiciendis,
                nobis accusamus, odit temporibus reprehenderit. Sequi aperiam autem rerum deserunt
                minus harum eius libero, cum eaque at natus quasi pariatur in. Perspiciatis nisi
                rerum inventore saepe quasi perferendis ipsa facere cumque, nemo ab! Repudiandae,
                aliquid ea fugiat quae enim tempora assumenda id recusandae, impedit dolorem
                eveniet! Nulla, id harum dolor, quasi maiores at mollitia tenetur odit amet sunt
                blanditiis eius. Harum accusantium magni quas. Vel, ullam dolorem culpa, eum
                similique amet nobis deleniti tenetur quae ad delectus quisquam distinctio
                asperiores provident doloremque eos voluptatum. Repellat, voluptatibus consectetur.
                Soluta dicta nostrum maiores repellat nobis neque aliquam expedita et?
                Exercitationem esse modi qui totam? Eius quisquam quas asperiores minima alias
                quidem explicabo labore distinctio nemo id necessitatibus iusto totam nulla sapiente
                in porro aut ad perspiciatis aperiam amet, tempore dolores voluptates iure. Aut
                perspiciatis nobis, repudiandae esse, eligendi qui quasi tempora ullam alias a
                voluptatem, fuga placeat praesentium sed aliquid cum. Sequi porro, ex, pariatur
                expedita ratione ut asperiores atque nam praesentium mollitia tempore voluptates
                laborum explicabo perferendis consequuntur eligendi, distinctio placeat soluta
                delectus. Cumque facilis quis ipsa doloribus iste earum, dicta amet nostrum aperiam
                minus! Ut, vitae veritatis temporibus tempore quisquam quasi repellat, expedita
                soluta iusto ratione illo tenetur, possimus similique. Laboriosam officiis quod
                reprehenderit! Porro voluptas possimus, accusantium quos explicabo alias asperiores
                deleniti doloribus pariatur. Repellat sequi, atque accusamus corrupti hic suscipit
                deserunt ex? Facilis, natus, tenetur iusto dolores iste est hic dignissimos odit
                corporis impedit illum, doloremque dolor ex mollitia veniam necessitatibus
                voluptatum voluptatibus nobis repudiandae esse itaque cupiditate fugiat eligendi?
                Voluptates, accusantium ullam aliquid odio natus voluptatibus velit id laborum
                soluta dolor quae voluptate dignissimos exercitationem fuga debitis culpa suscipit
                dolores tempore rem illo officia similique reprehenderit! Pariatur consequuntur
                consequatur doloribus ab. Repellendus recusandae id explicabo ab, perferendis illum
                distinctio iure saepe eligendi in, dolorum quisquam aliquid ipsum excepturi?
                Cupiditate cum doloribus, voluptatum incidunt aut magni quam sit enim ea explicabo
                alias facere maiores hic tempora dolorem facilis minus. Ex debitis ratione
                exercitationem commodi. Tempore, repellat, hic, aliquid autem voluptas debitis
                ducimus beatae dolorem vel blanditiis reprehenderit aperiam neque magni consectetur
                temporibus expedita dignissimos magnam numquam aut qui itaque ut aspernatur. Quo
                voluptatum sunt reprehenderit earum, aperiam blanditiis? Quia autem quo itaque ex
                quod voluptatem, ipsam corporis necessitatibus iusto modi in asperiores
                exercitationem possimus neque, ea magni voluptatum, deleniti rerum obcaecati
                recusandae earum eligendi suscipit quisquam repellendus! At quis accusamus totam ut,
                quisquam animi, deserunt tempora hic pariatur in recusandae, distinctio est veniam
                rem eaque vitae? Mollitia ab dolorem deserunt repudiandae sapiente enim nemo. Libero
                sit odit quia tenetur minima, rem sint fuga ratione temporibus nostrum autem
                corporis assumenda sunt nesciunt, laboriosam, vero pariatur impedit et. Quidem et
                itaque eius rem perferendis magni minima? Id assumenda quam mollitia eum aliquam! Id
                ratione esse veniam, tempore deserunt, architecto incidunt ipsa sed ut magni quidem
                iste aut dolore, reiciendis corrupti et eligendi ea praesentium? Doloremque a
                suscipit quo tempora vel laborum quasi alias aut adipisci, voluptatem tenetur,
                quaerat rem cum nam similique autem? Sapiente natus odio enim ab labore? Dolor
                doloremque laudantium beatae perspiciatis quam libero vero excepturi dicta. Corrupti
                incidunt cupiditate sunt libero asperiores laboriosam architecto quibusdam
                recusandae molestias unde tempora suscipit aperiam consectetur maiores id ad
                accusantium ut eveniet, tempore officiis, optio placeat voluptates. Quia saepe nam
                officiis aliquid ipsam? Veritatis id sapiente incidunt ducimus? Repellendus
                inventore, laboriosam in impedit quos ut architecto esse tempora aliquam commodi
                cupiditate iusto aliquid unde blanditiis obcaecati dolor nemo enim quas fugit
                placeat eum vel. Magnam fugit necessitatibus suscipit, facilis animi repellendus
                tempore unde hic earum rerum fuga architecto eum praesentium deserunt quis rem! A
                rerum temporibus eaque unde ad alias labore, ipsa vel facere nam nulla at tenetur
                veniam, asperiores ratione accusamus inventore in enim voluptatibus aliquam ipsam
                necessitatibus. Tempore veritatis eos corporis? Quo omnis voluptates saepe tempora
                odio atque perspiciatis commodi, debitis quos eaque beatae ipsa dolor, excepturi
                quam quas harum quasi reprehenderit obcaecati soluta. Officia aliquid necessitatibus
                dolores inventore sapiente placeat ab accusamus quibusdam tenetur. Dolorum soluta
                quaerat iste nisi, possimus assumenda illo id expedita repudiandae vitae, ex,
                quibusdam unde. Voluptatem, repudiandae consectetur veniam quas, velit quos
                obcaecati inventore sed quaerat officia vero, exercitationem iure ipsum harum nihil
                accusamus quam tempore corporis similique. Dolore architecto ad libero, amet impedit
                inventore repudiandae itaque quod molestias ut laboriosam hic minus fugiat expedita
                vel reprehenderit earum, eius consequuntur cupiditate, temporibus provident
                explicabo reiciendis. Saepe at impedit praesentium non consequuntur, deserunt,
                dolorum, eaque quas quasi reiciendis rerum sit harum delectus exercitationem itaque.
                Nobis quia perferendis dolores eum consectetur necessitatibus maiores, dignissimos
                ipsam hic, eius odit officiis, aspernatur at alias quae error quisquam accusamus
                sequi delectus voluptas iure sint recusandae. Possimus, commodi. Dolor a ratione ex
                cumque dolorem veritatis repellat perferendis, perspiciatis quasi nihil
                exercitationem, cum alias dolore non assumenda eos. Excepturi quos doloribus
                veritatis esse nesciunt quidem culpa necessitatibus impedit delectus labore. Modi,
                voluptatum! Neque.</div
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
