.quest-container {
  width: 100%;
}
@media (min-width: 768px) {
  .quest-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .quest-container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .quest-container {
    max-width: 1280px;
  }
}

.create-quest {
  @apply w-full p-4 font-bold bg-white border border-gray-300 rounded-xl active:scale-[.98] transition border-solid hover:bg-gray-200;
}
