<div class="bg-warm">
  <div class="quest-container mx-auto pt-20">
    <div class="grid grid-cols-[200px_550px] gap-20">
      <div>
        <pq-user-info></pq-user-info>
      </div>
      <div>
        <pq-create-quest></pq-create-quest>
        <button class="flex text-default text-[10px] text-gray-400 items-center w-full">
          <hr class="flex-grow my-4 mr-2 border-t border-t-gray-300" />
          <p class="text-right">
            Sort By:
            <span class="text-black font-semibold"> Top </span>
            <img src="assets/images/down-arrow.png" class="w-[10px] inline align-middle" />
          </p>
        </button>
        <pq-quest-card></pq-quest-card>
        <pq-quest-card></pq-quest-card>
        <pq-quest-card></pq-quest-card>
        <pq-quest-card></pq-quest-card>
        <pq-quest-card></pq-quest-card>
        <pq-quest-card></pq-quest-card>
      </div>
    </div>
  </div>
</div>
