<div class="h-screen flex w-screen">
  <div class="quest-container mx-auto flex flex-col w-full h-full">
    <div class="grid grid-cols-[200px_1fr] gap-20 flex-grow min-h-0">
      <div>
        <div class="sticky top-20 text-default">
          <div class="mb-4">
            <pq-user-info></pq-user-info>
          </div>
          <div>
            <pq-create-quest></pq-create-quest>
          </div>
        </div>
      </div>
      <div class="flex flex-col flex-grow min-h-0 border">
        <div class="grid grid-cols-[3fr_4fr] flex-grow bg-white overflow-y-auto">
          <div class="flex flex-col overflow-y-auto">
            <div class="">
              <button
                class="flex text-default text-xs items-center w-full bg-orange-500 hover:bg-orange-700 transition p-4"
              >
                <div class="flex w-full">
                  <div class="mr-auto">
                    <p class="font-semibold">9 results</p>
                  </div>
                  <div class="justify-end">
                    <p class="text-right">
                      Sort By:
                      <span class="text-black font-semibold">Top</span>
                      <img
                        src="assets/images/down-arrow.png"
                        class="w-[10px] inline align-middle"
                      />
                    </p>
                  </div>
                </div>
              </button>
            </div>
            <div class="overflow-y-auto">
              @for (item of temp; track $index) {
                <pq-quest-card></pq-quest-card>
              }
            </div>
          </div>
          <div class="overflow-y-auto">
            <pq-quest-info></pq-quest-info>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
