<button class="card p-2 rounded-none border-0 border-b w-full" #activeButton>
  <div class="grid grid-cols-[2fr_1fr] w-full text-left">
    <div class="flex flex-col">
      <div class="flex">
        <div class="mr-3">
          <img src="assets/images/user-image-with-black-background.png" class="w-[48px]" />
        </div>
        <div class="flex flex-col text-xs">
          <p class="font-semibold">Blank Company</p>
          <p class="text-gray-400">Manufacturing</p>
          <p class="text-gray-400">Chicago, IL</p>
          <h2 class="card-title text-base mt-4">.NET API Call Bug Fix</h2>
        </div>
      </div>
    </div>
    <div class="flex">
      <button
        class="flex flex-end ml-auto h-min hover:bg-slate-200 transition rounded-full"
        #dismissButton
      >
        <ng-icon name="bootstrapXLg" class="m-2"></ng-icon>
      </button>
    </div>
  </div>
</button>
