<div class="p-6 border border-gray-300 rounded-xl bg-white mb-6 text-default">
  <div class="flex flex-col mb-6">
    <div class="flex">
      <div class="mr-3">
        <img src="assets/images/user-image-with-black-background.png" class="w-[48px]" />
      </div>
      <div class="flex flex-col text-xs">
        <p class="font-semibold">New user</p>
        <p class="text-gray-400">Junior Software Developer</p>
        <p class="text-gray-400">Blank Company</p>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <div class="mb-2">
      <h2 class="font-bold">Title</h2>
    </div>
    <div>
      <p class="text-secondary">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem saepe numquam corrupti
        incidunt officia autem nesciunt, minima maxime voluptas, magni sunt? Quod necessitatibus quo
        porro explicabo qui saepe, libero nesciunt!
      </p>
    </div>
  </div>
  <div>
    <div class="w-full text-right italic font-semibold">
      <button class="text-primary hover:bg-orange hover:text-white rounded-lg px-4 py-2 transition">
        Learn more
        <img src="assets/images/fast-forward.png" class="h-[14px] inline align-middle" />
      </button>
    </div>
  </div>
</div>
