<div class="card p-2 rounded-none border-b-0">
  <div class="grid grid-cols-[2fr_1fr]">
    <div class="flex flex-col">
      <div class="flex">
        <div class="mr-3">
          <img src="assets/images/user-image-with-black-background.png" class="w-[48px]" />
        </div>
        <div class="flex flex-col text-xs">
          <p class="font-semibold">Blank Company</p>
          <p class="text-gray-400">Manufacturing</p>
          <p class="text-gray-400">Chicago, IL</p>
          <h2 class="card-title text-base mt-4">.NET API Call Bug Fix</h2>
        </div>
      </div>
    </div>
    <div class="flex">
      <button class="flex flex-end ml-auto h-min">
        <ng-icon name="bootstrapXLg"></ng-icon>
      </button>
    </div>
  </div>
</div>
