.hide {
  max-height: 0;
  transition: max-height 0.5s ease-out, margin-top 0.2s ease-out;
  margin-top: 0;
  overflow: hidden;
}

.show {
  margin-top: 32px;
  transition: max-height 0.45s ease-in, margin-top 0.15s ease-in;
  overflow: hidden;
}
