@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import '../node_modules/froala-editor/css/froala_editor.pkgd.min.css';
@import '../node_modules/froala-editor/css/froala_style.min.css';

@layer base {
  :root {
    --color-primary: 249 115 22;
    --color-secondary: 1 43 58;
    --color-tertiary: 0 73 99;
    --border-primary: 51 65 85;
    --background-primary: 242 244 245;
    --background-secondary: 1 43 58;
    --background-tertiary: 0 73 99;
    --warm-gray: 244 242 238;
  }
}

@layer components {
  body {
    @apply m-0 p-0 bg-warm;
    font-family: 'Montserrat', sans-serif;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply m-0 p-0;
  }

  .header-button {
    @apply flex text-default text-xs items-center w-full bg-orange-500 hover:bg-orange-700 transition p-4 border-none;
  }

  .btn {
    @apply border-none;
  }

  .btn-accept {
    @apply bg-orange-500 text-white rounded-lg hover:bg-orange-700;
  }

  .btn-primary {
    @apply text-primary hover:bg-orange-500 hover:text-white rounded-lg bg-white border-orange-500;
  }

  .btn-secondary {
    @apply text-black hover:bg-slate-500 bg-slate-400;
  }

  .btn-error {
    @apply bg-red-500 hover:bg-red-700;
  }

  .btn-success {
    @apply bg-green-500 hover:bg-green-700;
  }

  .btn-info {
    @apply bg-secondary text-white font-bold  hover:bg-tertiary active:bg-secondary;
  }

  .card {
    @apply p-6 border border-gray-300 rounded-xl bg-white text-default border-solid;
  }

  .input-badge {
    @apply badge hover:bg-slate-400 active:scale-95 transition;
  }

  .badge {
    @apply px-3 py-4 text-black font-semibold bg-slate-300;
  }

  .text-alt {
    font-family: 'Montserrat', sans-serif;
  }

  .text-default {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
      Arial, sans-serif !important;
  }

  .home-card {
    @apply bg-primary rounded-3xl text-primary p-5 shadow-md;
  }

  .picture-card {
    @apply bg-white rounded-xl text-primary p-5 w-max;
  }

  .button-primary {
    @apply px-8 py-3 rounded-xl  hover:scale-105  transition;
  }
}
