<div class="home-container mx-auto">
  <div class="flex flex-col">
    <div class="grid grid-cols-2 gap-10 mb-20">
      <div>
        <img src="assets/images/learningToCode.jpg" />
      </div>
      <div class="flex flex-col justify-center">
        <div class="mb-8">
          <h1 class="text-5xl font-bold text-secondary">
            Explore quests and get REAL experience with
            <span class="text-primary">PQuest.</span>
          </h1>
        </div>
        <div>
          <button class="button-primary">Try Now</button>
        </div>
      </div>
    </div>
    <div class="grid grid-flow-col grayscale justify-center items-center scale-75 gap-20 mb-16">
      <div>
        <img src="https://asset.brandfetch.io/id2S-kXbuK/idAi9aQ9l8.png" />
      </div>
      <div>
        <img src="https://asset.brandfetch.io/id20mQyGeY/id0aVLoJRk.png" />
      </div>
      <div>
        <img src="https://asset.brandfetch.io/idwDWo4ONQ/id0PusAmTM.png" />
      </div>
      <div>
        <img src="https://asset.brandfetch.io/idXoj5DuCE/idRDtKOwSO.png" />
      </div>
      <div>
        <img src="https://asset.brandfetch.io/idM8Hlme1a/idVHYRa9Al.svg" />
      </div>
    </div>
    <div class="home-card w-full mb-20">
      <div class="grid grid-cols-[7fr_3fr] gap-20 max-w-[1000px] mx-auto">
        <div class="flex flex-col justify-between">
          <div>
            <div class="mb-7">
              <h2 class="text-primary text-4xl font-bold">Learn new technologies</h2>
            </div>
            <div>
              <p class="text-lg text-secondary">
                Partnered companies distribute quests using modern technologies relevant to their
                needs. These quests provide real-world experience by challenging you to design and
                implement solutions using specified frameworks and language constraints.
              </p>
            </div>
          </div>
          <div>
            <button class="button-primary">Try Now</button>
          </div>
        </div>
        <div>
          <div class="picture-card w-full shadow-lg">
            <img src="assets/images/collab.png" class="" />
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mb-20">
      <div>
        <div class="flex flex-col items-center">
          <div class="mb-10">
            <h2 class="text-secondary text-4xl font-bold">
              What does <span class="text-primary">PQuest</span> offer?
            </h2>
          </div>
          <div class="grid grid-cols-3 gap-10">
            <div class="flex flex-col items-center">
              <div class="mb-2">
                <h2 class="text-6xl text-tertiary font-bold">+65%</h2>
              </div>
              <p class="text-tertiary font-semibold">get hired by selected companies</p>
            </div>
            <div class="flex flex-col items-center">
              <div class="mb-2">
                <h2 class="text-6xl text-tertiary font-bold">+3</h2>
              </div>
              <p class="text-tertiary font-semibold">new languages / frameworks learned</p>
            </div>
            <div class="flex flex-col items-center">
              <div class="mb-2">
                <h2 class="text-6xl text-tertiary font-bold">+20%</h2>
              </div>
              <p class="text-tertiary font-semibold">saw growth in salary</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full mb-20 text-default">
      <div class="flex flex-col items-center max-w-[1200px] mx-auto">
        <div class="mb-10">
          <h2 class="text-secondary text-4xl font-bold">What users have to say</h2>
        </div>
        <div class="grid grid-cols-3 gap-4">
          <div class="border-black border rounded-lg p-6">
            <div class="w-full text-right mb-2 text-gray-400 italic">
              <p> July 14th, 2024 </p>
            </div>
            <div class="mb-20">
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia tempore inventore
                reiciendis ipsa beatae sequi labore ab magnam dignissimos quam obcaecati minima
                eaque possimus eos, cum voluptatum. Sit, animi tempora!
              </p>
            </div>
            <div class="flex">
              <div class="mr-3">
                <img
                  src="assets/images/user-image-with-black-background.png"
                  class="w-[60px] h-[60px]"
                />
              </div>
              <div class="flex flex-col text-xs">
                <p class="font-semibold">New user</p>
                <p>Junior Software Developer</p>
                <p>Blank Company</p>
              </div>
            </div>
          </div>
          <div class="border-black border rounded-lg p-6">
            <div class="w-full text-right mb-2 text-gray-400 italic">
              <p> June 3rd, 2024 </p>
            </div>
            <div class="mb-20">
              <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi suscipit vero
                possimus officiis. Distinctio aut a provident exercitationem optio rem sit
                repudiandae impedit, minima iusto harum consequatur perspiciatis sed explicabo.
              </p>
            </div>
            <div class="flex">
              <div class="mr-3">
                <img
                  src="assets/images/user-image-with-black-background.png"
                  class="w-[60px] h-[60px]"
                />
              </div>
              <div class="flex flex-col text-xs">
                <p class="font-semibold">New user</p>
                <p>Junior Software Developer</p>
                <p>Blank Company</p>
              </div>
            </div>
          </div>
          <div class="border-black border rounded-lg p-6">
            <div class="w-full text-right mb-2 text-gray-400 italic">
              <p> May 10th, 2024 </p>
            </div>
            <div class="mb-20">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ipsa provident
                nostrum praesentium eligendi. Impedit vitae reprehenderit voluptatum, cum quam ipsa.
                Distinctio ut explicabo omnis quam ea quae deserunt vitae?
              </p>
            </div>
            <div class="flex">
              <div class="mr-3">
                <img
                  src="assets/images/user-image-with-black-background.png"
                  class="w-[60px] h-[60px]"
                />
              </div>
              <div class="flex flex-col text-xs">
                <p class="font-semibold">New user</p>
                <p>Junior Software Developer</p>
                <p>Blank Company</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
