<div class="card p-0 sticky top-20 text-default">
  <div class="flex flex-col">
    <div class="flex flex-col items-center text-xs px-6 py-4">
      <div class="mb-2">
        <img src="assets/images/user-image-with-black-background.png" class="w-[48px]" />
      </div>
      <div class="font-bold">
        <p>My User</p>
      </div>
      <div class="text-gray-400">
        <p>Software Developer</p>
      </div>
      <div class="text-gray-400">
        <p>Park Place Technologies</p>
      </div>
    </div>
    <hr class="w-full" />
    <div class="flex flex-col text-xs py-4">
      <button class="hover:bg-gray-200 transition text-left pl-4 py-1">Your Quests</button>
      <button class="hover:bg-gray-200 transition text-left pl-4 py-1">Completed Quests</button>
      <button class="hover:bg-gray-200 transition text-left pl-4 py-1">Saved Quests</button>
      <button class="hover:bg-gray-200 transition text-left pl-4 py-1">Your Quests</button>
    </div>
  </div>
</div>
