<div class="flex flex-col card p-0 border border-solid border-slate-300">
  <div class="flex flex-col items-center text-xs px-6 py-4">
    <div class="mb-2">
      <img src="assets/images/user-image-with-black-background.png" class="w-[48px]" />
    </div>
    <div class="font-bold">
      <p>My User</p>
    </div>
    <div class="text-gray-400">
      <p>Software Developer</p>
    </div>
    <div class="text-gray-400">
      <p>Park Place Technologies</p>
    </div>
  </div>
  <hr class="w-full" />
  <div class="flex flex-col text-xs py-4">
    <button class="info-button">Your Quests</button>
    <button class="info-button"> Completed Quests</button>
    <button class="info-button">Saved Quests</button>
  </div>
</div>
