<div class="card rounded-none h-full overflow-y-auto border-0 border-l">
  <div class="mb-4">
    <div class="flex items-center">
      <div class="mr-3">
        <img src="assets/images/user-image-with-black-background.png" class="w-[48px]" />
      </div>
      <div>Blank Company</div>
    </div>
    <div class="mt-2">
      <h2 class="card-title text-lg font-bold">.NET API Call Bug Fix</h2>
      <p class="text-gray-400 text-xs">Manufacturing - Chicago, IL</p>
    </div>
  </div>
  <div class="mb-4">
    <div class="mb-2">
      <div class="flex justify-between w-full">
        <h2 class="font-semibold"> Skills </h2>
        <span class="text-xs text-gray-400">hold shift to scroll</span>
      </div>
    </div>
    <div class="carousel rounded-box w-full gap-2">
      <div class="carousel-item">
        <div class="badge"> .NET </div>
      </div>
      <div class="carousel-item">
        <div class="badge"> C# </div>
      </div>
      <div class="carousel-item">
        <div class="badge"> Databases </div>
      </div>
      <div class="carousel-item">
        <div class="badge"> Data Structures </div>
      </div>
      <div class="carousel-item">
        <div class="badge"> OOP </div>
      </div>
      <div class="carousel-item">
        <div class="badge"> SQL </div>
      </div>
      <div class="carousel-item">
        <div class="badge"> SQLite </div>
      </div>
    </div>
    <div class="flex flex-wrap gap-2"> </div>
  </div>
  <div class=""
    >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos exercitationem molestiae,
    pariatur delectus dolore veritatis sed iure incidunt qui necessitatibus fugit corrupti nobis.
    Sequi vel a in placeat fugiat perferendis nihil nisi corporis similique cum assumenda quo aut
    ea, fugit blanditiis ut aliquam, minima expedita reiciendis earum delectus. Deserunt facilis qui
    iusto ipsa in modi earum, commodi magnam asperiores, consectetur enim similique rerum atque
    ratione id quidem autem nostrum cumque illo eos velit quaerat odio veniam ullam. Veritatis enim
    quaerat accusamus voluptates ratione voluptatibus possimus eaque, ducimus at odit voluptas porro
    pariatur dolorem iste. Voluptatibus ratione minus iure, repellendus delectus, ea tempore labore
    quos quae repudiandae autem repellat maiores blanditiis assumenda vel quisquam culpa eligendi?
    Libero earum tempore architecto accusamus facilis rerum eligendi sed, quis tempora assumenda
    vero! Nihil incidunt esse debitis nam. Libero ratione, inventore, iusto maxime quia aspernatur
    facere excepturi velit at corrupti reprehenderit nam! Asperiores esse similique aperiam
    veritatis provident repellat maiores fuga, reiciendis eaque atque possimus aspernatur nostrum
    mollitia debitis error doloribus ad itaque dolores obcaecati? Pariatur eius sed odit qui officia
    impedit sequi dolorum molestias officiis! Neque ipsum natus eum praesentium ullam doloremque
    animi magni architecto expedita accusantium possimus deleniti blanditiis cupiditate magnam
    excepturi eaque harum labore, similique modi, earum, error voluptate. Culpa neque voluptates nam
    corporis cumque dignissimos blanditiis harum explicabo ipsa assumenda iste dicta consequuntur,
    nihil optio at veniam. Corrupti ab sequi ipsa dolor sapiente eligendi unde dolorem quos nam
    numquam veritatis sed asperiores, magni quaerat quo dignissimos at voluptate praesentium quia ad
    totam ratione. Aperiam cumque eius doloribus quae amet voluptas, exercitationem perferendis
    beatae officia rem ut, debitis quisquam alias illum quia maxime nostrum inventore fugit
    repellendus ipsam sed dolorem provident. Placeat cum provident eveniet ea qui similique iure
    consequuntur exercitationem temporibus nisi doloremque eligendi dignissimos, quos cumque ex?
    Neque eius id laborum perspiciatis?
  </div>
</div>
